<div class="wrapper" onclick="document.getElementById('btn').click()"
     style="background: rgb({{color.r}},{{color.g}},{{color.b}})">
  <form action="/start" method="get">
    <input id="btn" class="btn" type="submit" value="{{header}}">
  </form>
</div>